
<p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name" />
      </th>
      <th>
        Image
      </th>
      <th>
        Actions
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td><img [src]="baseAzureUrl+'/'+product.imageUrl" class="h-28"/></td>
      <td>
        <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onOpenUpdateModal(product)"></button>
        <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onOpenDeleteModal(product)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!--Delete Product Modal-->
<p-dialog header="Delete Product" [modal]="true" [(visible)]="visibleDeleteModal" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Are you sure you want to delete this product?</span>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="visibleDeleteModal = false" />
    <button pButton label="Delete" (click)="deleteProduct()" class="p-button-danger"></button>
  </div>
</p-dialog>

<!--Update Product Modal-->
<p-dialog header="Update Product" [modal]="true" [(visible)]="visibleUpdateModal" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Create a new product.</span>
  <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()">
    <div class="flex flex-col align-items-center gap-3 mb-3">
      <label for="Name" class="font-semibold w-6rem">Product name</label>
      <input pInputText class="flex-auto" autocomplete="off" formControlName="name" required />
      <p-message [severity]="messages[0].severity" [text]="messages[0].detail"
        *ngIf="this.updateProductForm.get('name')?.hasError('required') && this.updateProductForm.get('name')?.touched" />
      <p-message [severity]="messages[1].severity" [text]="messages[1].detail"
        *ngIf="this.updateProductForm.get('name')?.hasError('minlength') && this.updateProductForm.get('name')?.touched" />
    </div>

    <div class="flex flex-col align-items-center gap-3 mb-5">
      <label for="Image" class="font-semibold w-6rem">Image</label>
      <!--Image file input-->
      <div class="card flex flex-col justify-content-center w-full">
        <p-image width="350" height="300" [src]="updateProductForm.get('imageUrl')?.value" />
        <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000"
          (onSelect)="onSelectImage($event)" />
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="onCloseUpdateModal()" />
      <p-button type="submit" label="Save" />
    </div>
  </form>
</p-dialog>
